@model List<TvShows.Models.TvshowModel>

<div>
    <h1>@ViewData["Title"]</h1>
    <p>Totalt antal serier: @ViewBag.TotalShows</p>

    <section>
        @foreach(var show in Model) {
            <article>
                <h3>@show.Title</h3>
                <p>@show.Review</p>
                <p>@show.Genre</p>
                <span>@show.Rating</span>
            </article>
        }
    </section>
</div>